# OS Specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE Specific
nbproject
.~lock.*
.buildpath
.idea
.project
.settings
.vscode
composer.lock
*.sublime-workspace
*.swp
*.swo

# Project Specific
/node_modules
*.log
/lib
tmp
.changelog
coverage/
.nyc_output/
.eslintcache
.env

dist

website/build
website/.docusaurus
website/.cache-loader

build/

__fixtures__/

.all-contributorsrc
.editorconfig
.env.example
.eslintignore
.eslintrc.json
.gitattributes
.npmrc
.prettierignore
.prettierrc.yml
.verdaccio/
libs/
website/yarn.lock

website/netlifyDeployPreview/*
website/changelog
!website/netlifyDeployPreview/index.html
!website/netlifyDeployPreview/_redirects

website/_dogfooding/_swizzle_theme_tests
package-lock.json
