# OS Specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE Specific
nbproject
.~lock.*
.buildpath
.idea
.project
.settings
.vscode
composer.lock
*.sublime-workspace
*.swp
*.swo

# Project Specific
/node_modules
*.log
/lib
tmp
.changelog
coverage/
.nyc_output/
.eslintcache
.env

dist

build
.docusaurus
.docusaurus/

.cache-loader

build/

__fixtures__/

.all-contributorsrc
.editorconfig
.env.example
.eslintignore
.eslintrc.json
.gitattributes
.npmrc
.prettierignore
.prettierrc.yml
.verdaccio/
libs/

netlifyDeployPreview/*
changelog
!netlifyDeployPreview/index.html
!netlifyDeployPreview/_redirects

_dogfooding/_swizzle_theme_tests
package-lock.json
